@import '../css/vars.css';
@import '../css/grid.css';



*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

html, body {
   height: 100%; 
   background-color: #2b474b;
   color: var(--white-color);
}

@font-face {
    font-family: montsserrat-g;
    src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
    font-family: montserrat-g;
    src: url(../fonts/Montserrat-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: montsserrat-g;
    src: url(../fonts/Montserrat-Black.woff2);
    font-weight: 900;
}

@font-face {
    font-family: montsserrat-g;
    src: url(../fonts/Montserrat-SemiBold.woff2);
    font-weight: 600;
}


body{
    font-size: 16px;
    font-family: montserrat-g, sans-serif;
}

.slider{
    height: 100%;
}

.slider__layer{
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    will-change: transform;
}

.slider__item{
    overflow: hidden;
    transform: scale(1.25)!important;
    transition: 2s ease !important;
}

.slider__item:not(.swiper-slide-active){
    transform: scale(1) !important;
}

.slider-ui {
    position:absolute;
    z-index: 10;
    inset: 0;
}

.top-line  {

    padding: 3.2em 0;
}

.logo {
    direction: block;
}

.logo img {
    display: block;
    width: 15.5em;
}

.main-menu li {
    list-style-type: none;
    display: inline-block;
}

.main-menu li > *::before,
.main-menu li > *::after {
    content: '';
    display: inline-block;
    height: 2px;
    background-color: var(--green-color);
    width: 11.5px;
    vertical-align: middle;
    top: -1px;
    left: -1.5px;
    position: relative;
    border-radius: 10em;
    margin: 7.25px;
    visibility: hidden;
}


.main-menu li.active >*,
.main-menu li:hover >* {
    color: var(--white-color);
}

.main-menu li.active >*::before,
.main-menu li:hover >*::before,
.main-menu li.active >*::after,
.main-menu li:hover >*::after {
    visibility: visible;
}

.main-menu li > * {
    color: var(--gray-color);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 0.725em;
    letter-spacing: .25em;
    position: relative;
}

.button {
    padding: 1.05em 2.6em;
    color: var(--white-color);
    background: var(--green-color);
    border: 1.5px solid transparent;
    border-radius: 10em 0 10em 10em;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .21em;
    text-transform: uppercase;
    font-size: 0.65em;
    cursor: pointer;
}

.button--top {
    background-color: transparent;
    border-color: var(--green-color);
    margin: 0 2em 0 3em;
}

.button:hover {
    background-color: var(--green-color);
}